
/*product cards*/
.shop-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    flex-direction: row; 
   
}

.card {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    font-family: arial;
    flex-direction: row; 
    width: 30%;
    height: 10%;
    margin-bottom: 70px;
    
}

.card img {
    width: 170px;
    height: 250px;
}

.price {
    color: black;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
    margin-bottom: 20px;
}

.card button:hover {
    opacity: 0.7;
}

/*modal container*/
.modal-container {
    width: 50%;
    margin: 0 10%;
    margin-bottom: 7px;
    max-height: 750px;
    color:black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top:10vh;
    scrollbar-color: none;
    
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #ffff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}


.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
   
}

.modal-container > div > img {
    width: 110px;
    width: 120px;
}

.total-content { 
    font-size: 20px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    border: 2px black solid;
}

.delete-product {
    cursor: pointer;
}

/*cantidad-carrito*/
.cantidad-carrito {
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}

.sumar {
    cursor: pointer;
}

.restar {
    cursor: pointer;
}


